.container {
  width: 75%;
  height: 75%;
}

.border-score {
  border: 2px solid black;
}

@media (max-width: 770px) {
  .flex-sm-column {
    display: flex !important;
    flex-direction: column !important;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .mb-sm-3 {
    margin-bottom: 1rem !important;
  }

  .w-sm-100 {
    width: 100% !important;
    margin: 0 !important;
  }
}
